body {
    background-color: #333333;
    margin: 0 auto;
    width: 90%;
}

main {
    text-align: center;
}

.youtubers, footer, header {
    background-color: #333333;
    border: 1px solid lightgray;
    border-radius: 15px;
    box-shadow: 10px 5px 5px black;
    margin: 10px auto;
    padding: 20px;
    text-align: center;    
}

footer {
    padding: 0px;
    color: rgb(243, 234, 234);
}

.imageHome{
    border:black 4px solid;
    border-radius: 3%;
    height: 450 px;
    object-fit: cover; 
}

.youtubers .images {
    border-radius: 90px;
    width: 150px;
    height: 150px;    
    object-fit: cover; 
}

.youtubers h2 {    
    color: rgb(243, 234, 234);
    font-size: 1.5em;
    margin: 10px 0;
}

.youtubers p {
    color: rgb(243, 234, 234);
    font-size: 1em;
}

#menu {
    list-style: none;
}

li {
    display: inline;
    border-left: 4px rgb(226, 22, 22) solid;
    padding-left: 5px;
}

#menu a {
    color: rgb(243, 234, 234);
    text-decoration: none;
}

#menu a:hover {
    text-decoration: underline lightgray;
}

.button {
    padding: 10px 20px;
    color: rgb(243, 234, 234);
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

@media all and (max-width: 700px) {
    .youtubers, footer {
        border: solid 2px rgb(226, 22, 22);
    }
    .button {
        background-color: rgb(226, 22, 22);     
    }
    .button:hover {
        background-color: rgb(226, 22, 22);
    }    
}